@mixin flex-box($display: flex, $flex-direction: null, $flex: 1) {
    display: $display;
    flex-direction: $flex-direction;
    flex: $flex;
}

@mixin navBarLink($colorHover: white, $color: white) {
    text-decoration: none;
    color: $color;

    &:hover {
        color: $colorHover;
        transition-timing-function: linear;
        transition-duration: 0.5s;
    }
}

@mixin heading($font-size, $font-size-hover, $margin: 8, $font-color: white) {
    color: $font-color;
    font-size: px-to-em($font-size);
    margin-bottom: px-to-em($margin);
    font-weight: lighter;
    cursor: default;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;

    &:hover {
        font-size: px-to-em($font-size-hover);
    }
}

@mixin description($font-size, $font-color) {
    color: $font-color;
    font-size: px-to-em($font-size);
    cursor: default;
}
